.title {
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.data-container {
    width: 100%;
    container-name: container-size;
    container-type: inline-size;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-auto-rows: auto;
    gap: 30px;
    justify-content: center;
    align-content: center;
    place-items: center;
    margin: 20px;
}

.pokemon-item {
    width: 100%;
    height: auto;
    padding: 10px;
}

.image img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
}

.number {
    margin-top: 5px;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.type-list {
    display: grid;
    margin-top: 5px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 5px;
    justify-content: space-between;
}

@container container-size (width >= 490px) and (width < 920px) {
    .pokemon-list {
        grid-template-columns: repeat(auto-fill, 200px);
    }
}

@container container-size (width < 490px) {
    .pokemon-list {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    /* Set max and min width to all items in the grid */
    .pokemon-list > * {
        max-width: 200px;
        min-width: 150px;
    }
}