.title {
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.data-container {
    width: 100%;
    container-name: container-size;
    container-type: inline-size;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-auto-rows: auto;
    gap: 30px;
    justify-items: center;
    justify-content: center;
    margin: 20px;
}

.pokemon-item {
    width: 100%;
    height: auto;
    padding: 10px;
}

.image img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
}

.number {
    margin-top: 5px;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.type-list {
    display: grid;
    margin-top: 5px;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    justify-content: space-between;
}

@media (min-width: 500px) and (max-width: 1300px) {
    .pokemon-list {
        grid-template-columns: repeat(auto-fill, 200px);
    }
}

@media (max-width: 499.98px) {
    .pokemon-list {  
        grid-template-columns: repeat(auto-fill, minmax(150px, auto));
    }

    /* Set max width to all items in the grid */
    .pokemon-list > * {
        max-width: 200px;
    }

    .type-list {
        font-size: 0.8rem;
    }
}