@page "/generation/{Generation:int}"

@if (Pokemons == null)
{
    <Loading/>
}
else
{
    <div class="title"><OrdinalNumber Number="@Generation"/> Generation</div>

    <div class="data-container">
        <div class="pokemon-list">
            @foreach(var pokemon in Pokemons)
            {
                <div class="pokemon-item list-item">
                    <a href=@($"pokemon/{pokemon.Id}")>
                        <div class="image"><img src=@pokemon.ImageUrl /></div>
                        <div class="number">@($"Nº {pokemon.Id:000}")</div>
                        <div class="name">@pokemon.Name</div>
                        <div class="type-list">
                            @foreach(var type in pokemon.Types)
                            {
                                <PokemonTypeSlot Type=@type />
                            }
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
}
