@page "/"
@using BlazorPokedex.Logic;

@if (Generations == null)
{
    <Loading/>
}
else
{
    <div id="title">
        <img src="images/pokemon-title.png" />
    </div>


    <div id="generation-list">
        @foreach (var generation in Generations)
        {
            <a class="generation-list-item list-item" href=@($"generation/{generation.Id}")>
                @($"Generation {generation.Id}")
                <div class="image"><img src=@($"images/gen{generation.Id}.png") /></div>
            </a>
        }
    </div>
}
