.container {
    text-align: center;
}

.content {
    width: 50vw;
    max-width: 600px;
}

.title {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 1em));
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pokemon-name {
    display: inline;
    text-align:right;
}

.pokemon-number {
    display: inline;
    color: #616161;
    text-align:left;
}

.pokemon-data {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto auto;
    justify-content: space-around;
}

.pokemon-image img {
    width: 200px;
    height: 200px;
}

.pokemon-type-list {
    display: grid;
    margin-top: 5px;
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-template-rows: auto;
    justify-content: space-between;
}

.pokemon-stat-container {
    display: grid;
    grid-template-columns: min-content min-content auto;
    gap: 5px 10px;
    align-items: center;
    padding: 20px;
    background: #00ffff;
    border-radius: 20px;
}

.pokemon-stat-name {
    text-align:left;
}

.pokemon-stat-value {
    text-align: right;
}

.stat-slider {
    width: auto;
    height: 10px;
    background: #DA70D655;
    border-radius: 20px;
    padding: 2px;
}

.stat-slider-value {
    height: 100%;
    background: #DA70D6FF;
    border-radius: inherit;
}