@page "/generation/{Generation:int}"
@using BlazorPokedex.Logic;

@if (Pokemons == null)
{
    <Loading/>
}
else
{
    <h3>Pokemons Generation @Generation</h3>

    <div id="pokemon-list">
        @foreach(var pokemon in Pokemons)
        {
            <a class="pokemon-list-item list-item" href=@($"pokemon/{pokemon.Id}")>
                <img src=@pokemon.ImageUrl />
                <div>@pokemon.Name</div>
                <div>@($"Nº {pokemon.Id:000}")</div>
                <div class="type-list">
                    @foreach(var type in pokemon.Types)
                    {
                        <PokemonTypeSlot Type=@type />
                    }
                </div>
            </a>
        }
    </div>
}
