html, body {
    margin: 0px;
    font-family: 'Comic Sans MS', 'Comic Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
    margin: 0px;
}

/*================= Loading =================*/

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.loading-pokeball {
    margin-top: 20px;
    animation: loading-spin 4s linear infinite;
    width: clamp(40px, 50vmin, 300px);
    height: auto;
}

@keyframes loading-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*=============================================*/

/*================ Navbar ============= */

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.sidebar {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    position: sticky;
    top: 0;
    width: 100%;
    background-image: linear-gradient(180deg, red, #FFCC66);
    z-index: 2;
}

.sidebar-collapse {
    height: auto;
}

.sidebar-extend {
    height: 100dvh;
}

.navbar {
    height: 5rem;
    padding: 1rem;
    justify-content: space-between;
}

.nav-list {
    display: grid;
    max-height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(0, 1fr);
    padding: 10px;
    gap: 10px;
}

@media (min-width: 800px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        grid-template-rows: auto auto;
        width: 300px;
        flex-grow: 0;
        flex-shrink: 0;
        overflow-y: scroll;
    }

    .sidebar-collapse {
        height: 100vh;
    }

    .navbar {
        padding: 8px;
        justify-content: center;
    }

    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block !important;
    }

    .nav-list {
        grid-template-columns: 100% !important;
        grid-auto-rows: 150px !important;
    }
}
/*=======================================*/

.list-item {
    --shadow-size: 10px;

    background: white;
    box-shadow: 0px 0px var(--shadow-size) black;
    border-radius: 25px;
}

.list-item, a.list-item, .list-item a {
    color: inherit;
    text-decoration: none;
}

.list-item:hover {
    position: relative;
    box-shadow: none;
    cursor: pointer;
}

.list-item:hover::before {
    content: "";
    position: absolute;
    background: linear-gradient(45deg, #ff00aa 0%, #00ccff 25%, #00ff00 50%, #ffbb00 75%, #ff0000 100%);
    width: calc(100% + var(--shadow-size));
    height: calc(100% + var(--shadow-size));
    top: calc(var(--shadow-size) / -2);
    left: calc(var(--shadow-size) / -2);
    border-radius: inherit;
    z-index: -1;
    filter: blur(calc(var(--shadow-size) / 2));
}
